body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-image: url(media/img/store.png);
    background-size: contain; /* Ajusta el tamaño de la imagen para que se muestre completamente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center top; /* Centra la imagen verticalmente en la parte superior */
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 200px; /* Altura fija del header */
}

nav {
    background-color: #343a40; /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espaciado interno superior e inferior */
}

ul {
    list-style-type: none; /* Quita los puntos de lista */
    padding: 0;
    margin: 0;
    text-align: center; /* Centra los elementos de la lista */
}

li {
    display: inline; /* Muestra los elementos de la lista en línea (horizontal) */
    margin-right: 10px; /* Espacio entre elementos de la lista */
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

a:hover {
    background-color: #6c757d; /* Color de fondo al pasar el ratón */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

/* Estilos para la disposición de las tarjetas de productos */
#product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px; /* Espacio entre las tarjetas */
}

.product-card {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #007bffbe;
    text-align: center;
    overflow: hidden; /* Oculta contenido que desborde de la tarjeta */
}

.product-card img {
    max-width: 100%;
    max-height: 150px; /* Altura máxima para la imagen */
    margin-bottom: 15px; /* Espacio inferior */
}

.product-card h3 {
    color: #343a40;
    font-size: 18px;
    margin-bottom: 10px;
}

.price {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 8px;
}

.description {
    margin-bottom: 15px;
}


#contact-link {
    text-align: center;
    margin-top: 20px;
}

#contact-link a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: red;
}

h1 {
    color: #007bff;
    text-align: center;
}

form {
    background-color: #42D6C0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

textarea {
    height: 120px; /* Establece una altura para el textarea */
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#contact-link a:hover {
    text-decoration: underline;
}
